:root{
    --azul-dnc:#0C70F2;
    --preto-dnc:#303030;
    --cinza-hover:#C9C9C9;
    --font-padrao:'Inter';
}


body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    border: 1px solid #BABABA;
}

.menu{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
}

.menu:hover{
color: rgb(9, 53, 250);
}

#menuAcima{
position: absolute;
width: 1444px;
height: 103px;
left: 0px;
top: 0px;
background: #303030;
justify-content:space-around;
align-items: center;
border-bottom: 1px solid;
} 

#menu1{
display: flex;
position: absolute;
width: 72px;
height: 30px;
left: 96px;
top: 35px;
text-decoration: none;
}

#menu2{
position: absolute;
width: 194px;
height: 30px;
left: 203px;
top: 35px;
text-decoration: none;
}

#menu3{
position: absolute;
width: 311px;
height: 30px;
left: 429px;
top: 35px;
text-decoration: none;
}

#botãoLogin{
position: absolute;
width: 80px;
height: 39px;
left: 1245px;
top: 31px;
background: #0C70F2;
box-shadow: 7px 5px 6px rgba(177, 213, 253, 0.25);
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
color: #FFFFFF;
border: none;
cursor: pointer;
}
 
/*sessão princpal do site */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
header{
    color: white;
    font-family: var(--font-padrao);
}
header h1{
    position: absolute;
    width: 671px;
    height: 97px;
    left: 384px;
    top: 100px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 97px;
    white-space: nowrap;
}
header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    position: absolute;
    width: 1018px;
    height: 192px;
    left: 210px;
    top: 250px;
}
header .invert{
    background-color: #070707;
    font-weight: bold;
    padding: 5px;
}

/*estilisação do formulário*/ 

form{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: white;
  font-family: var(--font-padrao);
  font-size: 30px;
  font-weight: 600px;
  
}
.formGroup{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input{
    border-radius: 10px;
    height: 35px;
    border: 0px;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}
#form1{
    position:absolute;
    width: 630px;
    height: 0px;
    left: 405px;
    top: 650px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
   }
form input::placeholder{
    color:  rgba(57, 57, 57, 0.5);
   }
.checkBox-Itens label{
     font-size: 25px;
   }
.checkBox-Itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="checkbox"]{
    transform: scale(1.7);
}
input[type="submit"]{
    width: 630px;
    height: 56px;
    left: 405px;
    top: 1465px;
    background: rgba(12, 112, 242, 0.9);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 70px;
    cursor: point;
}
/*estilisação do rodapé*/

#rodape{
position: absolute;
width: 1440px;
height: 520px;
left: 0px;
top: 1789px;
background: #0C70F2;
display:flex;
}
#escolas h1{
width: 302px;
height: 330px;
left: 72px;
top: 1845px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
font-size: 25px;
margin: 40px 20px 50px 80px;
}
#sobre h1{
width: 225px;
height: 270px;
left: 483px;
top: 1845px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: 40px 20px 50px 80px;
}
#letrinhas{
width: 446px;
height: 96px;
left: 913px;
top: 1962px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
margin: 40px 20px 50px 80px;
}
#termos{
text-align: center;
width: 477px;
height: 30px;
left: 444px;
top: 2247px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}
